body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: verdana;
}

.box {
	position: relative;
	width: 500px;
	height: 500px;
	margin: 20px auto;
	background-color: #262626;
	box-shadow: 0 10px 10px rgba(0,0,0,.5);
}

.box a {
	display: block;
	color: #fff;
	width: 180px;
	height: 50px;
	font-size: 24px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	border-radius: 25px;
	cursor: pointer;
}

.box a.open {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 2px solid #fff;
}

.box a.close {
	position: relative;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	color: #262626;
	border: 2px solid #262626;
}

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	text-align: center;
	border: 5px solid #262626;
	transition: .5s;
}

.content {
	transform: perspective(1000px) rotateY(90deg) scale(0);
}

.content.active {
	transform: perspective(1000px) rotateY(0deg) scale(1);
}

.link {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
}

.link div {
	margin-left: 10px;
}