body {
	margin: 0;
	padding: 0;
	font-family: "微軟正黑體";
	box-sizing: border-box;
}

header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 70px;
	background-color: #F0F0F0;
}

header .logo {
	width: calc(100% - 720px);
	color: #ED6D00;
	font-size: 36px;
	font-family: sans-serif;
	font-weight: bold;
}

header .logo div {
	width: 115px;
	text-align: center;
	margin-left: 10px;
}

header .logo span {
	display: block;
	font-size: 8px;
	color: #2c3e50;
	text-transform: uppercase;
}

header ul {
	display: flex;
	width: 520px;
}

header ul li {
	list-style: none;
	padding: 3px 20px;
	border-right: 1px solid #C9C9C9;
}

header ul li:last-child {
	border: none;
}

header ul li:hover a {
	color: #d35400;
}

header ul li a {
	text-decoration: none;
	color: #2c3e50;
}

.header-icon {
	display: flex;
	width: 200px;
	color: #2c3e50;
	justify-content: space-around;
	margin-right: 20px;
}

.header-icon .fab {
	font-size: 30px;
} 

.header-icon .fa-facebook-f:hover {
	color: #3B5998;
}

.header-icon .fa-youtube:hover {
	color: #C4312C;
}

/* menu */

.menu {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	background-color: #fff;
}

.menu ul {
	display: flex;
	justify-content: space-around;
	width: calc(100% - 200px);
}

.menu ul li {
	list-style: none;
}

.menu ul li a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: bold;
}

.menu ul li:hover a {
	color: #F98201;
}

.menu .menu-icon {
	display: flex;
	justify-content: space-around;
	width: 120px;
	color: #2c3e50;
	text-align: center;
	margin-right: 20px;
	cursor: pointer;
}

.menu .menu-icon .fa-search {
	width: 30px;
	height: 30px;
	font-size: 30px;
	line-height: 35px;
}

.menu .menu-icon .fa-user {
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 20px;
	color: #fff;
	background-color: #FF8201;
	border-radius: 50%;
}

/* carousel */

.swiper-container {
	width: 100%;
	height: 100vh;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	width: 100%;
	width: 100%;
}

.swiper-button-next {
	font-size: 30px;
	color: #F98201;
	background-color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	margin-right: 10px;
	background-image: none;
}

.swiper-button-prev {
	font-size: 30px;
	color: #F98201;
	background-color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 50%;
	text-align: center;
	margin-left: 10px;
	background-image: none;
}

/* moving-menu */

.moving-menu {
	display: flex;
	width: 100%;
	background-color: #F98201;
}

.moving-menu .fa-sticky-note {
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	padding: 0 10px;
	color: #fff;
	background-color: #E87535;
}

.moving-menu nav {
	width: calc(100% - 50px);
}

.moving-menu nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 50px;
}

.moving-menu nav ul li {
	list-style: none;
}

.moving-menu nav ul li a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

.moving-menu nav ul li:hover a {
	color: #ffff6f;
}

/* info */

.info {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
}

.info a {
	text-decoration: none;
	display: block;
	position: relative;
	color: #fff;
}

.info a h3 {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 24px;
}

.info-slide-left.active {
	display: flex;
	position: absolute;
	top: 5px;
	left: 5px;
	width: calc(100% - 20px);
	margin: 5px;
	box-sizing: border-box;
	transition: .5s;
}

.info-slide-right {
	display: flex;
	position: absolute;
	top: 5px;
	left: calc(100% + 5px);
	width: calc(100% - 20px);
	margin: 5px;
	box-sizing: border-box;
	transition: .5s;
}

.info-slide-left {
	display: flex;
	position: absolute;
	top: 5px;
	left: calc(-100% + 5px);
	width: calc(100% - 20px);
	margin: 5px;
	box-sizing: border-box;
	transition: .5s;
}

.info-slide-right.active {
	left: 5px;
	transition: .5s;
}

.info-left {
	width: 50%;
	box-sizing: border-box;
}

.info-left a img {
	width: 100%;
	height: 100%;
}

.info-right {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
}

.info-right div {
	width: 48%;
	box-sizing: border-box;
	margin-left: 10px;
}

.info-right div:nth-child(3),
.info-right div:nth-child(4) {
	margin-top:12px;
}

.info-right div a {
	display: block;
	width: 100%;
}

.info-right div a img {
	width: 100%;
	height: 100%;
}

.info-other {
	width: 100%;
	margin-top: 450px;
}

.info-block {
	display: flex;
	justify-content: center;
}

.info-other-left {
	width: 70px;
	height: 8px;
	background-color: #95a5a6;
	margin-right: 10px;
}

.info-other-left.active {
	background-color: #F98201;
}

.info-other-right {
	width: 70px;
	height: 8px;
	background-color: #95a5a6;
	margin-left: 10px;
}

.info-other-right.active {
	background-color: #F98201;
}

.info-other a {
	position: relative;
	display: block;
	text-decoration: none;
	width: 200px;
	height: 38px;
	color: #444444;
	border: 1px solid #444444;
	font-weight: bold;
	text-align: center;
	line-height: 38px;
	margin: 20px auto;
}

.info-other a:hover {
	color: #fff;
	background-color: #444444;
}

/* tab */

.tab {
	width: calc(100% - 20px);
	margin: 0 auto;
	text-align: center;
	font-size: 24px;
}

.tab-nav {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100px;
}

.tab .tab-nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
}

.tab .tab-nav ul li {
	width: 25%;
	list-style: none;
	padding-top: 30px;
	padding-bottom: 30px;
	cursor: pointer;
}

.tab .tab-nav ul li .fas {
	margin-right: 15px;
	font-size: 36px;
	color: #F98201;
}

.tab .tab-nav ul li.active {
	border-bottom: 5px solid #F98201;
}

.tab-content {
	position: relative;
	width: calc(100% - 20px);
	margin: 30px auto;
	font-size: 24px;
}

.tab-content-1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	z-index: 2;
}

.tab-content-2,
.tab-content-3,
.tab-content-4 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	z-index: 1;
}

.tab-box {
	width: 23%;
	position: relative;
}

.tab-box img {
	width: 100%;
	margin-bottom: 10px;
}

.tab-box h3 {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

.tab-box .label {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 130px;
	height: 35px;
	line-height: 35px;
	color: #fff;
	background-color: rgba(0,0,0,.5);
	border-radius: 5px;
}

.tab-other {
	width: 100%;
	margin: 300px auto 100px;
}

.tab-other a {
	display: block;
	width: 200px;
    height: 38px;
    line-height: 38px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
	text-decoration: none;
	color: #444444;
	background-color: #fff;
	border: 1px solid #444444;
}

.tab-other a:hover {
	color: #fff;
	background-color: #444444;
}

.service {
	width: calc(100% - 20px);
	margin: 0 auto;
}
.service h1 {
	padding-left: 10px;
}

.service-icon {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.service-icon nav {
	width: 65%;
}

.service-icon nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.service-icon nav ul li {
	list-style: none;
	width: 25%;
	padding: 10px 0;
	text-align: center;
	border-right: 1px solid #7f8c8d;
	cursor: pointer;
}

.service-icon nav ul li:hover {
	color: #FF8200;
}

.service-icon nav ul li:last-child {
	border-right: none;
}

.service-icon nav ul .fas,
.service-icon nav ul .far {
	display: block;
	font-size: 60px;
	margin: 30px;
}

.service-icon nav ul span {
	display: block;
	margin: 10px 0;
	font-size: 20px;
}



.service-facebook {
	display: flex;
	width: 30%;
	background-color: #005ab5;
	margin-right: 10px;
	cursor: pointer;
}

.service-facebook:hover {
	background-color: #29487D;
}

.service-facebook div:first-child {
	margin: 50px 10px 0 20px;
}

.service-facebook div .fa-facebook-f {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	text-align: center;
	border-radius: 50%;
	background-color: #fff;
}

.service-facebook .service-font {
	color: #fff;
	font-size: 20px;
	margin-top: 50px;
}

.service-facebook .service-font h3 {
	margin: 0;
	padding: 0;
}

hr {
	width: 65%;
	margin: 15px 0;
}

/* share */

.share {
	width: calc(100% - 20px);
	margin: 50px auto 0;

}

.share h1 {
	padding-left: 10px;
}

.share nav {
	width: 30%;
}

.share nav ul {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.share nav ul li {
	list-style: none;
}

.share nav ul li a {
	text-decoration: none;
}

.share nav ul li a .fab {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
	font-size: 30px;
}

.share nav ul li a .fa-facebook-f {
	color: #fff;
	background-color: #005ab5;
}

.share nav ul li a:hover .fa-facebook-f {
	background-color: #2A4173;
}

.share nav ul li a .fa-twitter {
	color: #fff;
	background-color: #1DA1F2;
}

.share nav ul li a:hover .fa-twitter {
	background-color: #1197CA;
}

.share nav ul li a .fa-product-hunt {
	color: #CC845C;
	background-color: #fff;
	font-size: 60px;
}

.share nav ul li a:hover .fa-product-hunt {
	color: #9C4E25;
}

.share nav ul li:nth-child(4) {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: #00B900;
	border-radius: 50%;
}

.share nav ul li a.line {
	color: #fff;
	font-size: 20px;
}

.share nav ul li:nth-child(4):hover {
	background-color: #2F961D;
}

/* footer */

.footer {
	width: 100%;
	background-color: #E6E6E6;
	margin-top: 50px;
	overflow-x: hidden;
}

.footer .footer-up {
	width: 100%;
	border-top: 1px solid #7f8c8d;
}

.footer .footer-up .footer-btn {
	width: 100%;
}

.footer .footer-up .footer-btn a {
	text-decoration: none;
	display: none;
	color: #000;
	text-align: center;
	padding: 10px 0;
}

.footer .footer-up .footer-btn a:nth-child(1).active {
	display: block;
}

.footer .footer-up .footer-btn a:nth-child(2).active {
	display: block;
}

.footer .footer-up .footer-btn a .fas {
	display: block;
	font-size: 16px;
}

.footer-allLink {
	display: none;
}

.footer-groupLink {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	transition: 1s;
}

.footer-groupLink div {
	width: 15%;
}

.footer-groupLink h2 {
	font-size: 18px;
	color: #F5942B;
}

.footer-groupLink h2:hover {
	color: #E06827;
}

.footer-groupLink ul {
	position: relative;
	margin: 0;
	padding: 0 10px;
}

.footer-groupLink ul li {
	list-style: none;
	padding: 5px 15px;
	border-left: 1px solid #F5942B;
}

.footer-groupLink ul li a {
	text-decoration: none;
	color: #000;
}

.footer-groupLink ul li:hover a {
	color: #F5942B;
}

.footer-btnLink {
	display: flex;
	justify-content: center;
	padding: 40px 0 20px;
}

.footer-btnLink div {
	width: 160px;
	height: 80px;
	line-height: 80px;
	background-color: #F5942B;
	text-align: center;
	margin-right: 5px;
}

.footer-btnLink div:hover {
	background-color: #E06827;
}

.footer-btnLink div a {
	color: #fff;
	font-size: 16px;
	text-decoration: none;
}

.footer-bottom {
	display: flex;
	width: 100%;
	border-top: 1px solid #7f8c8d;
	padding: 20px 0;
}

.footer-logo {
	width: 20%;
}

.footer-logo .logo {
	color: #ED6D00;
	font-size: 36px;
	font-family: sans-serif;
	font-weight: bold;
	margin: 10px 0 10px 10px;
}

.footer-logo .logo div {
	width: 115px;
	text-align: center;
}

.footer-logo .logo span {
	display: block;
	font-size: 8px;
	color: #2c3e50;
	text-transform: uppercase;
}

.footer-logo .green-logo {
	width: 115px;
	color: #FFF;
	font-size: 16px;
	font-family: "微軟正黑體";
	text-align: center;
	background-color: #4A8504;
	margin: 10px 0 10px 10px;
	padding: 5px;
}

.footer-info {
	width: 60%;
}

.footer-info h2 {
	font-size: 20px;
}

.footer-info h2 span {
	color: #F78E1D;
}

.footer-info p span {
	padding: 5px;
	border: 1px solid #F78E1D;
}

.footer-info p span .fas {
	color: #F78E1D;
	padding: 0 5px;
}

.footer-link {
	width: 20%;
}

.footer-link div {
	margin: 20px;
	border-left: 1px solid #7f8c8d;
}

.footer-link a {
	display: block;
	color: #000;
	margin: 5px 0 5px 20px;
	text-decoration: none;
}

.footer-link a:hover {
	color: #F78E1D;
}